.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.bggreen {
    background: #9400d3;
}

#navbarSupportedContent > ul > li > a {
    color: white;
}

.about{
    font-family: "Times New Roman", serif;
    font-size: large;
}